upHooks
strafe 43

dropHooks
driveStraight -31


driveStraight 6

wait 0.1

turn 9
driveStraight 6.5
turn 30
driveStraight 3.5
turn 90

strafe 7
driveStraight -3

upHooks

CASE_ALLIANCE_PARKS_NEXT_TO_WALL_ENTER:
strafe -18.5

driveStraight 38

wait 0.1
