vLiftIntakePos
intakeOn
driveStraight 34
wait 0.5
driveStraight 5
intakeOff
grab
wait 0.5
driveStraight -5
driveStraight -9

vLiftDown
wait 0.2

turn 173


wait 0.1
upHooks
strafe -102
dropHooks
driveStraight -3

driveStraight 24

turn 90

wait 0.1
driveStraight 2
uphooks
strafe -4
wait 0.1
vLiftDown

driveStraight 45

wait 0.1